---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Callout from '../components/Callout.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Callout type="warning" title='Excuse the mess...'>
				This website is currently being created! Wordings, pages, and design is likely incomplete and subject to change :)
			</Callout>

			<h1>🤖 Who <i>"we"</i> are</h1>
			<p>
				BotSuite is really just me, John, making bots from my apartment in Uppsala, Sweden 🇸🇪.
				I started out making Discord applications <small>(then known as bots)</small> sometime in 2018 as a way to bring whimsy to some servers I shared with friends.
				Through making these silly Discord bots I learned how to use the API to create stuff that people might actually find usefull...
			</p>

			<p>
				Meme/music/game/moderation focused bots is a field that is already served by thousands of great bots so I decided to focus on providing utility focused bots.
				The first bot I made that got actual users beside myself and friends was a bot called <b>Oppy</b> that allowed users to create and share server templates. When Discord launched native <a href="https://support.discord.com/hc/en-us/articles/360041033511-Server-Templates">Server Templates</a> sometime in 2020 I had to admit defeat and move on.
			</p>

			<p>
				Discord launched <a href="https://support.discord.com/hc/en-us/articles/4403205878423-Threads-FAQ">threads</a> in 2021, which acts as <i>temporary</i> spaces of discussions created within another text channel.
				Threads are configured to get hidden <small>(archived)</small> after a certain amount of time has passed, ranging from a few hours to a week. 
				I created <a href="https://threadwatcher.xyz">Thread-Watcher</a> as an experiment to see if I could manage to get these threads to never get hidden, no matter the threads' activity. To my surprise, I could, and even more surprising to me was that others also wanted this.
			</p>

			<p>
				Thread-Watcher quickly grew from a handfull of servers to a few hundreds, then to a few thousands, and is now standing at 23 000 servers and counting!
				Along the road it's had to adapt to growing pains from an architecture designed around an expected usage far exceeded, fundamental changes to how Discord threads operate, and frequent trial and error.
				Many years later and Thread-Watcher is standing stronger than ever, helping thousands of communities keep their threads organized.
			</p>

			<p>
				But why "BotSuite" if there's just one bot? <br/>
				I like staying busy! While <a href="https://threadwatcher.xyz">Thread-Watcher</a> is the bot I'm currently putting all my focus into, I can see myself branching out to additional exciting projects.
				It felt "correct" to have some sort of umbrella name for all my projects to tie them together, and I landed on BotSuite.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.thing {
		background-color: blue;
		min-height: 350px;
		background-size: cover;
		margin-top: 1rem;
		margin-bottom: 1rem;

		--border: 1px solid rgba(255, 255, 255, 0.2);

		border-top: var(--border);
		border-bottom: var(--border);
	}
</style>
