---
const today = new Date();
import { Icon } from "astro-icon/components"
import { Image } from 'astro:assets';
import Logo from "../assets/botsuite_logo_white.png"
---

<footer class="padded">
	<div class="contact">
		<Image src={Logo} alt="hi" height={64} />
		<a href="mailto:hello@botsuite.co">hello@botsuite.co</a>
	</div>

	<ul>
		<h2>hi</h2>
		<h2>hi</h2>
		<li>hi</li>
	</ul>
</footer>
<style>

	.contact {
		display: flex;
		flex-direction: column;

		a {
			color: rgb(var(--gray));
			text-decoration: none;
			font-weight: bold;
		}
	}

	footer {
		padding: var(-padding);
		display: flex;
		justify-content: space-between;
		color: rgb(var(--gray));
	}
</style>
